<div class="container d-flex d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/sorveteBacioDiLate.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BACIO di LATTE</h5>
          <p class="card-text">Gelato puro</p>
          <a href="#" class="btn btn-primary container-fluid">COMPRAR</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/PicoléBacioDiLatte.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BACIO di LATTE</h5>
          <p class="card-text">Gelato puro</p>
          <a href="#" class="btn btn-primary container-fluid">COMPRAR</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/poteBacioDiLate.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BACIO di LATTE</h5>
          <p class="card-text">Gelato puro</p>
          <a href="#" class="btn btn-primary container-fluid">COMPRAR</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/VariosPotes.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BACIO di LATTE</h5>
          <p class="card-text">Gelato puro</p>
          <a href="#" class="btn btn-primary container-fluid">COMPRAR</a>
        </div>
      </div>
      
</div>
